.App {
  text-align: center;
  overflow: visible, auto;
  display: flex;
  justify-content: center;
  flex-flow: wrap;
  align-items: center;
  align-content: space-around;
  margin: 5px;
}
.Weapon {
  margin: 5px;
  flex: 0 1 auto;
}
.Attack {
  margin: 5px;
  flex: 0 1 auto;
}
.Monster{
  margin: 5px;
  flex: 0 1 auto;
}